body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loader-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loader {
  width: 50px;
  height: 50px;
  position: relative;
}


/* Rotating Plane Animation */
.rotating-plane {
  background-color: #000000;
  animation: rotatePlane 1.2s infinite ease-in-out;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

@keyframes rotatePlane {
  0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}



