::ng-deep .custom_padding{
  padding:6px!important;
}

::ng-deep .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked{
 background-color: black!important;
}
::ng-deep .mat-mdc-select-value-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px !important;
}

