<div>
  <ul>

    <li *ngFor="let invoice of invoices" [id]="invoice._id">

      {{invoice?.contactDetails?.name}} | {{invoice?.documentNumber}} | TOTAL : {{invoice?.totalWithTaxes |
      currency:'EUR':'symbol':'1.2-2'}}
      <button [routerLink]="['/inicio/sales/invoices/add', invoice._id]"> edit</button>

    </li>

  </ul>

</div>


<ng-container *ngIf="invoiceManagementService.invoices$ | async as invoices;">

  <section class="bg-gray-50 dark:bg-gray-900 py-2 sm:py-2">

    <div class="px-1 mx-auto max-w-screen-4xl">
      <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
        <div
          class="flex flex-col px-6 py-8 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
          <div class="flex items-center flex-1 space-x-4">
            <h5>
              <span class="text-gray-500">Total Facturas</span>
              <span class="dark:text-white pl-1">{{invoices.length}}</span>
            </h5>

          </div>
          <div
            class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">

            <app-cta-button size="large" icon="add" (click)="generateNewInvoiceId()" title="Añadir Factura"
              tooltip="Añade un nuevo contacto" />
            <!-- <app-cta-button icon="cloud" link="/inicio/add-contact" title="Boton secundario" category="secondary"></app-cta-button> -->
            <!-- <app-cta-button category="secondary" icon="cloud" title="Descargar" /> -->
          </div>
        </div>

        <!-- <ng-container *ngIf="dataLoaded; else emptyList "  > -->
        <ng-container>
          <div class="overflow-x-auto w-full ">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 bng-">
                <tr>
                         <th scope="col" class="px-4 py-3">Fecha</th>
                  <th scope="col" class="px-4 py-3">Nº Factura</th>
                  <th scope="col" class="px-4 py-3">Contacto</th>
                  <th scope="col" class="px-4 py-3">Subtotal</th>
                  <th scope="col" class="px-4 py-3">Total</th>
                  <th scope="col" class="px-4 py-3">Estado</th>
                  <!-- <th scope="col" class="px-4 py-3">Tipo</th>
                          <th scope="col" class="px-4 py-3">Categoría</th> -->
                  <th scope="col" class="px-4 py-3"></th>

                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let invoice of invoices | filterStatus:''"
                  class=" border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700"
                  style="width: 100%;"
                >
                  <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="flex flex-col">
                      <span>{{invoice?.date | date:'dd/MM/yyyy'}}</span>
                      <span class="text-xs text-gray-500">Expira: {{invoice?.expiration}} días</span>
                    </div>
                  </th>
                  <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{invoice?.documentNumber}}
                  </td>
                  <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="flex flex-col ">
                      <span class="flex items-center gap-2  "><mat-icon class="text-gray-400">person</mat-icon>{{invoice?.contactDetails?.name}}</span>
                      <span class="text-xs text-gray-500 flex items-center gap-2 "><mat-icon class="text-gray-400">mail</mat-icon>{{invoice?.contactDetails?.email}}</span>
                    </div>
                  </td>
                  <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{invoice?.subtotal | currency:'EUR'}}
                  </td>
                  <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{invoice?.totalWithTaxes | currency:'EUR'}}
                  </td>
                  <td>
                    <span
                    [ngClass]="invoice?.state === 'unpaid' ? 'bg-orange-100 text-yellow-800' : 'bg-green-100 text-green-800'"
                    class=" text-sm font-medium me-2 px-2.5 py-0.5 rounded">{{invoice?.state === 'unpaid' ? 'Pendiente' : 'Pagada'}}</span>
                  </td>
                  <!-- <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="flex gap-3">
                      <a [routerLink]="['/inicio/sales/invoices/add', invoice._id]" class="btn-class">
                        <mat-icon [ngClass]="'text-gray-500 hover:text-gray-600 cursor-pointer'">edit</mat-icon>
                      </a>

                      <button (click)="confirmDeleteInvoice(invoice._id)">
                        <mat-icon [ngClass]="'text-gray-500 hover:text-gray-600 cursor-pointer'">delete</mat-icon>
                      </button>
                    </div>
                  </td> -->
                  <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="flex gap-3">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" class="mat-menu">
                        <button mat-menu-item>
                          <a [routerLink]="['/inicio/sales/invoices/add', invoice._id]" class="flex items-center">
                          <mat-icon class="text-xl">edit</mat-icon>
                          <span class="text-base">Editar Factura </span>
                        </a>
                        </button>
                        <button (click)="confirmDeleteInvoice(invoice._id)" mat-menu-item >
                          <mat-icon class="text-xl">delete</mat-icon>
                          <span class="text-base">Eliminar factura</span>
                        </button>
                        <button (click)="marcarComoPagadaOImpagada(invoice._id)" mat-menu-item>
                          <mat-icon class="text-xl">{{invoice.state === 'paid' ? 'money_off' : 'price_check'}}</mat-icon>
                          <span class="text-base">Marcar como {{invoice.state === 'paid' ? 'no pagada' :'pagada'}}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </td>

                </tr>
              <div class="mt-5"></div>
                <tr class=" border-b bg-black">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="px-4 py-2 font-medium text-white whitespace-nowrap" >{{calculateAllInvoicesTotalWithTaxes(invoices).totalWithoutTaxes | currency:'EUR'}}</td>
                  <td class="px-4 py-2 font-medium text-white whitespace-nowrap" >{{calculateAllInvoicesTotalWithTaxes(invoices).totalWithTaxes | currency:'EUR'}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>
        </ng-container>

        <ng-template #emptyList>
          <app-spinner></app-spinner>
        </ng-template>


        <nav class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0"
          aria-label="Table navigation">
          <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
            Showing
            <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
            of
            <span class="font-semibold text-gray-900 dark:text-white">1000</span>
          </span>
          <ul class="inline-flex items-stretch -space-x-px">
            <li>
              <a href="#"
                class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <span class="sr-only">Previous</span>
                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
            </li>
            <li>
              <a href="#" aria-current="page"
                class="z-10 flex items-center justify-center px-3 py-2 text-sm leading-tight border text-primary-600 bg-primary-50 border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <span class="sr-only">Next</span>
                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </section>






</ng-container>
