<section class="bg-gray-50 dark:bg-gray-900 py-2 sm:py-2" >

  <div class="px-1 mx-auto max-w-screen-4xl">
      <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
          <div class="flex flex-col px-6 py-8 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
              <div class="flex items-center flex-1 space-x-4">
                  <h5>
                      <span class="text-gray-500">Total de contactos</span>
                      <span class="dark:text-white pl-1">{{contacts.length}}</span>
                  </h5>

              </div>
              <div class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">

                  <app-cta-button size="large" icon="add" link="/inicio/add-contact" title="Añadir Contacto" tooltip="Añade un nuevo contacto" />
                  <!-- <app-cta-button icon="cloud" link="/inicio/add-contact" title="Boton secundario" category="secondary"></app-cta-button> -->
                 <!-- <app-cta-button category="secondary" icon="cloud" title="Descargar" /> -->
              </div>
          </div>

       <ng-container *ngIf="dataLoaded; else emptyList "  >
          <div class="overflow-x-auto ">
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                          <!-- <th scope="col" class="p-4">
                              <div class="flex items-center">
                                  <input id="checkbox-all" type="checkbox" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                  <label for="checkbox-all" class="sr-only">checkbox</label>
                              </div>
                          </th> -->
                          <th scope="col" class="px-4 py-3">Nombre</th>
                          <th scope="col" class="px-4 py-3">ID</th>
                          <th scope="col" class="px-4 py-3">Email</th>
                          <th scope="col" class="px-4 py-3">Teléfono</th>
                          <th scope="col" class="px-4 py-3">Dirección</th>
                          <th scope="col" class="px-4 py-3">Población</th>
                          <th scope="col" class="px-4 py-3">Tipo</th>
                          <th scope="col" class="px-4 py-3">Categoría</th>
                          <th scope="col" class="px-4 py-3"></th>
                          <th scope="col" class="px-4 py-3"></th>
                      </tr>
                  </thead>
                  <tbody>

                      <tr *ngFor="let contact of contacts" class=" border-b py-10 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                          <!-- <td class="w-4 px-4 py-5">
                              <div class="flex items-center">
                                  <input id="checkbox-table-search-1" type="checkbox" onclick="event.stopPropagation()" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                  <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                              </div>
                          </td> -->
                          <th scope="row" class="px-4 py-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                           {{contact.name}}
                          </th>
                          <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                              <span>{{contact.fiscal.number}}</span>
                          </td>
                          <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{contact.email}}
                          </td>
                          <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{contact.phoneNumber}}</td>
                          <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{contact.address.street}} {{contact.address.number}}</td>
                          <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{contact.address.city}}</td>

                          <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">

                            <span [ngClass]="contact.contactType === 'client' ? 'bg-white text-black border-black border text-xs font-medium me-2 px-2.5 py-0.5 rounded-full ' : 'bg-black text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded-full'">{{contact.contactType === 'client' ? 'Client' : 'Vendor' }}</span>
                          </td>
                          <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{contact.contactCategory === 'person' ? 'Persona': 'Empresa' }}
                            <!-- <span [ngClass]="contact.contacCategory === 'client' ? 'bg-white text-black border-black border text-xs font-medium me-2 px-2.5 py-0.5 rounded-full ' : 'bg-black text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded-full'">{{contact.contactType === 'client' ? 'Client' : 'Vendor' }}</span> -->
                          </td>
                          <td class="px-4 py-4"></td>
                          <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">

                            <div class="flex gap-3">
                              <!-- <mat-icon [ngClass]="'text-primary-700 hover:text-gray-600cursor-pointer'  ">visibility</mat-icon> -->

                              <button [routerLink]="['/inicio/edit-contact', contact._id]">
                              <mat-icon [ngClass]="'text-primary-700  hover:text-gray-600 cursor-pointer'">edit</mat-icon>
                              </button>


                              <button (click)="confirmDeleteContact(contact)">
                                <mat-icon [ngClass]="'text-black  hover:text-gray-600 cursor-pointer'">delete</mat-icon>
                              </button>

                            </div>

                          </td>
                      </tr>

                  </tbody>
              </table>
          </div>
        </ng-container>

        <ng-template #emptyList>
         <app-spinner></app-spinner>
        </ng-template>


          <nav *ngIf="contacts.length > 20 " class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0" aria-label="Table navigation">
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                  Showing
                  <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
                  of
                  <span class="font-semibold text-gray-900 dark:text-white">1000</span>
              </span>
              <ul class="inline-flex items-stretch -space-x-px">
                  <li>
                      <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                          <span class="sr-only">Previous</span>
                          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                          </svg>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                  </li>
                  <li>
                      <a href="#" class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                  </li>
                  <li>
                      <a href="#" aria-current="page" class="z-10 flex items-center justify-center px-3 py-2 text-sm leading-tight border text-primary-600 bg-primary-50 border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                  </li>
                  <li>
                      <a href="#" class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                  </li>
                  <li>
                      <a href="#" class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
                  </li>
                  <li>
                      <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                          <span class="sr-only">Next</span>
                          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                          </svg>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>

</section>


