<aside id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidenav">
  <div class="overflow-y-auto px-3 h-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">

    <section id="logo" class="flex flex-col justify-center items-center mt-10 mb-12">
      <img src="/assets/images/logo.png" alt="logo" class="w-16 mx-auto my-3"/>
      <span class="font-medium">Kwhale Invoice</span>
    </section>

    <!-- MENU SIDE BAR -->
    <ul class="space-y-2">
      <ng-container *ngFor="let item of menu; let i = index">
        <ng-container *ngIf="item.children; else noExpandMenu">
          <li>
            <button type="button" [ngClass]="mainLiButtonStyle" [attr.aria-controls]="item.control + i"
              (click)="toggleDropdown(item.control + i)">
              <mat-icon aria-hidden="false" ngClass="text-gray-600">{{item.icon}}</mat-icon>
              <span class="flex-1 ml-3 text-left whitespace-nowrap">{{item.title}}</span>
              <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <ul [attr.id]="item.control + i" class="hidden py-2 space-y-2">
              <li *ngFor="let child of item.children">
                <a (click)="handleClick(child)" [routerLink]="child.link" [ngClass]="linkLiButtonStyle">{{child.title}}</a>
              </li>
            </ul>
          </li>
        </ng-container>
        <ng-template #noExpandMenu>
          <li>
            <a [routerLink]="item.link" [ngClass]="mainLiButtonStyle">
              <mat-icon aria-hidden="false" aria-label="Example home icon" ngClass="text-gray-600">{{item.icon}}</mat-icon>
              <span class="ml-3">{{item.title}}</span>
            </a>
          </li>
        </ng-template>
      </ng-container>
    </ul>

    <div class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700"></div>
    
  </div>
</aside>
